body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f2f9f8;
  }
  
  header {
    background-color: #2d6d7b;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .menu-esquerda, .menu-direita {
    display: flex;
    align-items: center;
  }
  
  button, .dropdown-content button {
    background-color: #f8f4d1;
    border: none;
    padding: 10px 15px;
    margin: 0 5px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    top: 40px;
    left: 0;
    background-color: #478f92;
    padding: 10px;
    flex-direction: column;
  }
  
  .dropdown-content button {
    background-color: transparent;
    color: white;
    margin: 5px 0;
  }
  
  .dropdown:hover .dropdown-content {
    display: flex;
  }
  
  main {
    text-align: center;
    margin-top: 50px;
  }
  
  .tema-btn {
    margin: 10px;
    padding: 10px 20px;
    background-color: #3d8ebd;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 5px;
  }
  
  footer {
    background-color: #2d6d7b;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 14px;
  }
  